{% extends "base.html" %}

{% block head_content %}
    <title>Create new post</title>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Post a new photo!</h4>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {# Caption field #}
                    <div class="form-group">
                        <label for="id_caption">Caption</label>
                        <input
                            class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                            type="text"
                            name="caption"
                            id="id_caption"
                            required
                        >
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    {# People tag field #}
                    <div class="form-group">
                        <label for="id_people_tag">People tag</label>
                        <input
                            class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                            type="text"
                            name="people_tag"
                            id="id_people_tag"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    {# Location tag field #}
                    <div class="form-group">
                        <label for="id_location">Location</label>
                        <input
                            class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                            type="text"
                            name="location"
                            id="id_location"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    {# Photo field #}
                    <div class="form-group">
                        <label for="id_photo">Choose your photo:
                            <input
                                class="form-control {% if form.photo.errors %}is-invalid{% endif %}"
                                type="file"
                                name="photo"
                                id="id_photo"
                                required
                            >
                        </label>
                        <div class="invalid-feedback">
                            {% for error in form.photo.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-5">Publish!</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}