{% extends "users/base.html" %}

{% block head_content %}
    <title>AI-gram</title>
{% endblock %}

{% block container %}

    <div>
        {% if status != "successful" %}
        <div class="alert alert-danger" role="alert">
            <h3 class="text-center">{{ status }}</h3>
        </div>
        {% elif status == "successful" %}
        <div class="alert alert-success" role="alert">
            <h3 class="text-center">Your Email has been verified</h3>
        </div>
        <script>
            setTimeout(function(){
               window.location.href = '{% url 'users:login' %}';
            }, 5000);
         </script>
        {% endif %}
    </div>

{% endblock %}