{% extends "users/base.html" %}

{% block head_content %}
    <title> Platzigram Sing In </title>
{% endblock %}

{% block container %}
    {% if form.errors %}
        <p class="alert alert-danger">
            Your Username and Password didn't match. Please try again
        </p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="alert alert-danger">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p class="alert alert-danger">Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" placeholder="User Name" name="username" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" />
        </div>
        <button class="btn btn-primary btn-block mt-5" type="submit">Sing In</button>

    </form>

    <p class="mt-4">Don't have an account yet? <a href="{% url 'users:signup' %}">Sign Up</a></p>
{% endblock %}